.root {
    -fx-background-image: url("imi.jpg")
}

#endPlayerLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-translate-x: 90;
    -fx-translate-y: 10;
}

#endBack {
    -fx-text-fill: brown;
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(cadetblue , darkgray,greenyellow);
    -fx-translate-x: -50;
    -fx-translate-y: 200;
}