.root {
    -fx-background-image: url("win2.jpg")
}

#endPlayerLabel {
    -fx-font-size: 20px;
    -fx-font-family: Purisa ;
    -fx-text-fill: DARKBLUE;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-translate-x: 55;
    -fx-translate-y: -30;
}

#endBack {
    -fx-text-fill: DARKBLUE;
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(sandybrown , chocolate, gold);
    -fx-translate-x: -100;
    -fx-translate-y: 240;
}