.root {
    -fx-background-image: url("imi.jpg")
}

#endPlayerLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: ;
    -fx-translate-x: 90;
    -fx-translate-y: 10;
}

#endBack {
    -fx-text-fill: deeppink;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-translate-x: -50;
    -fx-translate-y: 200;
}