.root {
   -fx-background-image: url("imi.jpg");
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: brown;
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(cadetblue , darkgray,greenyellow);
}

#welcome {
    -fx-font-size:32px;
    -fx-font-family: Purisa;
    -fx-font-weight: bold;
    -fx-alignment: baseline-center;
    -fx-fill: rgb(85, 87, 83);
}
