.root {
    -fx-background-image: url("bg5.jpg");
}

#cp{
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#currentplayer {
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#nameplayer1 {
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#nameplayer2 {
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button {
    -fx-font-family: Purisa ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(cadetblue , darkgray,greenyellow);
}